@charset "utf-8";
/*tools start*/
.fn-text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.fn-clear:after {
    visibility:hidden;
    display:block;
    font-size:0;
    content:" ";
    clear:both;
    height:0;
}
.fn-clear {
    zoom:1; /* for IE6 IE7 */
}
.fn-left{
	float: left;
}
.fn-right{
	float: right;
}
.fn-vt-md{
    vertical-align: middle;
}
body .fn-hide {
    display:none;
}
body .fn-hide-vb{
    visibility: hidden;
}
.fn-border-bottom{
    border-bottom:1px solid #E8E8E8;
}
.fn-mgt3{
    margin-top:.3rem;
}
.fn-mgt17{
    margin-bottom:.17rem;
}
/*tools end*/
/*productDetail.html start*/
.prodet-product{
    /*padding-bottom: 2rem;*/
}
.prodet-head{
    margin: 0 auto;
    padding: 0;
    width:4.5rem;
    color:#9C9C9C;
    text-align: center;
}
.prodet-head li{
    list-style: none;
    display: inline-block;
    width:1.2rem;
    height:43px;
    border-bottom:2px solid #222;
}
.prodet-head .cur{
    border-bottom:2px solid #FFF;
    color:#FFFFFF;
}


.prodet-play{
    height:6rem;
    width:100%;
    margin-bottom:.17rem;
    border-bottom:1px solid #E8E8E8;
}
.prodet-play img{
    width:100%;
    position: relative;
    float: left;
    height:6rem;
}
.prodet-play-count{
    position:absolute;
    right:.3rem;
    bottom:.2rem;
    height:.8rem;
    width:.8rem;
    border-radius: 1rem;
    background-color: rgba(136,136,136,.7);
    font-size: 15px;
    color:#FFF;
    line-height: .8rem;
    text-align: center; 
}
.prodet-play-count-cur{
    font-size: 20px;
    font-style: normal;
    margin-right:-0.1rem; 
}
.prodet-price{
    margin:.2rem 0rem .2rem 0rem;
}
.prodet-price .hg-text-price{
    font-size: 22px;
    font-weight: bold;
    vertical-align: bottom;
    display:inline-block;
    line-height: 24px;
}
.prodet-content{
    padding:.30rem 0;    
}
.prodet-price-arrow{
    display: inline-block;
    background: url(images/arrow.png) no-repeat 0 5px;
    background-size:auto 60%;
    height:24px;
    line-height: 24px;
    font-size: 20px;
    vertical-align:text-bottom;
    width:.8rem;
}
.prodet-type{

}
.prodet-type .hg-box-item{
    padding:.04rem 0;
}
.prodet-type-list{
    margin: 0;
    padding: 0;
    width:4.2rem;
    box-sizing:border-box;
    display: inline-block;
    vertical-align: middle;
}
.prodet-count{
    padding:.09rem 0 .19rem 0;
}
.prodet-type-list li{
    list-style: none;
    font-size: 13px;
    padding: .15rem .22rem .13rem .22rem;
    text-align: center;
    border:1px solid #E8E8E8;
    border-radius: .1rem;
    color:#666666;
    display: inline-block;
    margin-bottom:.05rem;
    margin-top:.05rem;
    margin-right:.05rem;
    box-sizing:border-box;
}
.prodet-type-list .dis{
    color:#DCDCDC;
}
.prodet-type-list .cur{
    border:#F15353 solid 1px;
    color:#E3010D;
}
.prodet-label{
    display: inline-block;
    vertical-align: middle;
}
.prodet-type-counter{
    
}
.play-type-inv{
    padding-left:1.9rem;
    vertical-align: bottom;
    line-height: 24px;
    font-size: 15px;
    display: inline-block;
    width:2rem;
    text-align: center;
}
.prodet-tax{
    margin:.2rem 0;
}
.prodet-exp{
    font-size: 15px;
}
.prodet-count-label{
    display: inline-block;
    margin-top:0rem;
}

.prodet-detial-title{
    padding: .2rem 0;
    margin-bottom: .2rem;
    border-bottom:1px solid #F1F1F1;
}
.prodet-detial-title h4{
    padding: 0px;
    margin:0;
    font-size: 14px;
    color:#666;
    font-weight: normal;
}
.prodet-detial-info{
    padding-top: .1rem;
    padding-bottom: .1rem;
}
.prodet-detial-info img{
    width:100%;
    min-height: 2rem;
}
.prodet-detial-info .prodet-allinfo-img{
    font-size: 0;
}
.prodet-detail-up{
    text-align: center;
    padding:.3rem;
    background-color: #FFF;
    border-top:1px solid #E8E8E8;
    border-bottom:1px solid #E8E8E8;
}
.prodet-detail-up:before{
    display: inline-block;
    content: '\e615';
    font-family: "iconfont";
    font-size: 16px;
    color:#666666;
}
.prodet-shopcar{
    display: inline-block;
    height:.7rem;
    width: .7rem;
    background-color: rgba(0,0,0,0.5);
    line-height: .7rem;
    font-size: 26px;
    text-align: center;
    color:#FFF;
    border-radius: .35rem;
    margin-top:.14rem;
    margin-left: .2rem;
}
/*productDetail.html end*/
/*shortcut.html login.html start*/
.shortcut-text{
    padding:0 .32rem;
    margin-top:0.4rem;
}
.shortcut-dis{
    font-size: 12px;
    line-height: .76rem;
}
.shortcut-label{
    width:2.2rem;
}
/*shortcut.html end*/
/*shopcar.html start*/

/*shopcar.html end*/

/*settlement.html start*/
.settle-store .hg-store-title{
    padding:.2rem .1rem;
    text-align: left;
}
.settle-store .hg-prolist-mgt{
    margin-top:.1rem;
}
.settle-store .hg-prolist li{
    background-color: #F7F7F7;
    display:-webkit-box;
    display: flex;
    box-align:start;
    -webkit-box-align:start;
    align-items:flex-start;
    width:100%;
    padding:.1rem .2rem;
    box-sizing:border-box;
}
.settle-store .hg-prolist li:last-child{
}
.settle-store .hg-prolist img{
    -webkit-box-flex: 0.0;
    flex:0 0 auto;
    width: 1.75rem;
    height: 1.75rem;
    display: block;
}
.settle-store .hg-prolist-info{
    width:2.5rem;
    flex:1 1 auto;
    -webkit-box-flex: 1.0;
    padding:0 .1rem;
    float: none;
}
.settle-store .hg-prolist-info h4{
    overflow: auto;
    text-overflow: inherit;
    white-space: normal;
    height: auto;
    line-height: .4rem;
}

.settle-store .hg-store-content{
    padding:0;
}
.settle-store .hg-desc{
    margin-top: .1rem;
    height:auto;
    font-size: 13px;
}
.settle-store .hg-store-type{
    padding-left:.1rem;
}
.settle-store .hg-text-price{
    font-size: 17px;
}
.settle-store .hg-select{
    border-bottom: 1px solid #f0f0f0;
}
.settle-loading{
    text-align: center;
    padding: 2rem 0;
}
/*settlement.html end*/

/*address.html start*/
.address-add{
    margin:.15rem auto;
}
.address-add .hg-iconfont{
    color:#FFF;
    font-size: 17px;
}
.address-confirm-info{
    margin:0;
}
.address-confirm-info p{
    width:5rem;
}
.address-confirm-info .hg-address-detail{
    width:4.5rem;
}
.address-area{
    position: absolute;
    top:45px;
    left:0;
    background-color: #FFF;
    width:100%;
    min-height:120%;
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.address-area li{
    list-style: none;
    padding:.3rem 0rem .3rem .3rem;
    border-bottom:1px solid #E8E8E8;
}
/*address.html end*/

/*result success.html fail.html start*/
.result-webchat{
    padding:.2rem .1rem .2rem .4rem;
    background-color: #FFF;
}
.result-webchat img{
    width:.8rem;
    float: left;
    display: block;
}
.result-webchat-text{
    width:4rem;
    margin-left:.2rem;
    text-align: left;
    float: left;
}
.result-webchat-text .hg-text{
    font-size: 14px;
}
.result-webchat-text .hg-desc{
    font-size: 13px;
    line-height: 18px;
}
.result-webchat .hg-iconfont-rarrow{
    margin-top:.3rem;
}
.result-icon{
    text-align: center;
    padding:1rem;
}
.result-icon img{
    width:2rem;
}
.result-icon .hg-title{
    font-weight: bold;
}
/*result success.html fail.html end*/





