@charset "utf-8";
/*tools start*/
.fn-text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.fn-clear:after {
    visibility:hidden;
    display:block;
    font-size:0;
    content:" ";
    clear:both;
    height:0;
}
.fn-clear {
    zoom:1; /* for IE6 IE7 */
}
.fn-left{
	float: left;
}
.fn-right{
	float: right;
}
.fn-vt-md{
    vertical-align: middle;
}
body .fn-hide {
    display:none;
}
body .fn-hide-vb{
    visibility: hidden;
}
.fn-border-bottom{
    border-bottom:1px solid #E8E8E8;
}
.fn-mgt3{
    margin-top:.3rem;
}
.fn-mgt17{
    margin-bottom:.17rem;
}
/*tools end*/
/*productDetail.html start*/
.prodet-product{
    /*padding-bottom: 2rem;*/
}
.prodet-head{
    margin: 0 auto;
    padding: 0;
    width:4.5rem;
    color:#9C9C9C;
    text-align: center;
}
.prodet-head li{
    list-style: none;
    display: inline-block;
    width:1.2rem;
    height:43px;
    border-bottom:2px solid #222;
}
.prodet-head .cur{
    border-bottom:2px solid #FFF;
    color:#FFFFFF;
}


.prodet-play{
    height:6rem;
    width:100%;
    margin-bottom:.17rem;
    border-bottom:1px solid #E8E8E8;
}
.prodet-play img{
    width:100%;
    position: relative;
    float: left;
    height:6rem;
}
.prodet-play-count{
    position:absolute;
    right:.3rem;
    bottom:.2rem;
    height:.8rem;
    width:.8rem;
    border-radius: 1rem;
    background-color: rgba(136,136,136,.7);
    font-size: 15px;
    color:#FFF;
    line-height: .8rem;
    text-align: center; 
}
.prodet-play-count-cur{
    font-size: 20px;
    font-style: normal;
    margin-right:-0.1rem; 
}
.prodet-price{
    margin:.2rem 0rem .2rem 0rem;
}
.prodet-price .hg-text-price{
    font-size: 22px;
    font-weight: bold;
    vertical-align: bottom;
    display:inline-block;
    line-height: 24px;
}
.prodet-content{
    padding:.30rem 0;    
}
.prodet-price-arrow{
    display: inline-block;
    background: url(images/arrow.png) no-repeat 0 5px;
    background-size:auto 60%;
    height:24px;
    line-height: 24px;
    font-size: 20px;
    vertical-align:text-bottom;
    width:.8rem;
}
.prodet-type{

}
.prodet-type .hg-box-item{
    padding:.04rem 0;
}
.prodet-type-list{
    margin: 0;
    padding: 0;
    width:4.2rem;
    box-sizing:border-box;
    display: inline-block;
    vertical-align: middle;
}
.prodet-count{
    padding:.09rem 0 .19rem 0;
}
.prodet-type-list li{
    list-style: none;
    font-size: 13px;
    padding: .15rem .22rem .13rem .22rem;
    text-align: center;
    border:1px solid #E8E8E8;
    border-radius: .1rem;
    color:#666666;
    display: inline-block;
    margin-bottom:.05rem;
    margin-top:.05rem;
    margin-right:.05rem;
    box-sizing:border-box;
}
.prodet-type-list .cur{
    border:#F15353 solid 1px;
    color:#E3010D;
}
.prodet-label{
    display: inline-block;
    vertical-align: middle;
}
.prodet-type-counter{
    
}
.play-type-inv{
    padding-left:1.8rem;
    vertical-align: bottom;
    line-height: 24px;
    font-size: 15px;
    display: inline-block;
    width:2rem;
    text-align: center;
}
.prodet-tax{
    margin-bottom:.15rem;
}
.prodet-exp{
    font-size: 15px;
}
.prodet-count-label{
    display: inline-block;
    margin-top:0rem;
}

.prodet-detial-title{
    padding: .2rem 0;
    margin-bottom: .2rem;
    border-bottom:1px solid #F1F1F1;
}
.prodet-detial-title h4{
    padding: 0px;
    margin:0;
    font-size: 14px;
    color:#666;
    font-weight: normal;
}
.prodet-detial-info{
    padding-top: .1rem;
    padding-bottom: .1rem;
}
.prodet-detial-info img{
    width:100%;
    min-height: 2rem;
}
.prodet-detial-info .prodet-allinfo-img{
    font-size: 0;
}
.prodet-detail-up{
    text-align: center;
    padding:.3rem;
    background-color: #FFF;
    border-top:1px solid #E8E8E8;
    border-bottom:1px solid #E8E8E8;
}
.prodet-detail-up:before{
    display: inline-block;
    content: '\e615';
    font-family: "iconfont";
    font-size: 16px;
    color:#666666;
}
/*productDetail.html end*/
/*shortcut.html login.html start*/
.shortcut-text{
    padding:0 .32rem;
    margin-top:0.4rem;
}
.shortcut-dis{
    font-size: 12px;
    line-height: .76rem;
}
.shortcut-label{
    width:2.2rem;
}
/*shortcut.html end*/
/*shopcar.html start*/
.shopcar-foot{
    height:1.2rem;
}
.shopcar-foot .hg-btn-red{
    padding:.09rem .5rem;
    margin-top:.15rem;
}
.shopcar-foot-all{
    margin-left:.1rem;
    margin-top:.38rem;
    float: left;
}
.shopcar-foot .shopcar-store-check{
    float: none;
    margin: 0;
}
.shopcar-foot-total{
    height:.4rem;
    line-height: .4rem
}
.shopcar-foot-info .hg-text-price{
    font-size: 16px;
    vertical-align: bottom;
}
.shopcar-foot-info .hg-text{
    font-size: 16px;
    vertical-align: bottom;
}
.shopcar-foot-info .hg-desc{
    font-size: 12px;
    height:.35rem;
    line-height: .37rem;
    vertical-align: bottom;
}
/*.shopcar-foot-info .hg-label{
    font-size: 12px;
    color:#999999;
    width:1.05rem;
}*/
.shopcar-foot-info{
    overflow: hidden;
    float:left;
    margin-left: .1rem;
    width:3.1rem;
}
.shopcar-foot-label{
    text-align: right;
    display: inline-block;
    width:1.2rem;
}
.shopcar-foot-text{
    text-align: right;
    display: inline-block;
    width:1.80rem;
}
/*shopcar.html end*/

/*settlement.html start*/
.settle-address{
    padding:.2rem;
    background-color: #FFFAF3;

}
.settle-address p{
    margin:0;
    margin-bottom:.15rem;
    width:5.5rem;
}
.settle-address .hg-iconfont{
    color:#E3010D;
}
.settle-address-phone{
    /*margin-left:1.2rem;*/
}
.settle-address-arrow{
    margin-top:.7rem;
}
.settle-address-detail{
    font-size: 12px;
    width:5rem;
    display: inline-block;
    vertical-align: middle;
}
.settle-store .hg-store-title{
    padding:.2rem .1rem;
    text-align: left;
}
.settle-store .hg-prolist li{
    background-color: #F7F7F7;
}
/*settlement.html end*/





