<!DOCTYPE html>
<html>
<head>
<title>商品详情</title>
<% include ../include/res.html %>
</head>
<body>
	<div id="J_content" class="hg-content prodet">
		<% include ../include/detailHead.html %>
		<div id="J_body" class="hg-body">
			<div class="hg-box-bt hg-box-animation" id="J_prodet_product">
				<div class="prodet-play swipe" id="J_prodet_swipe">
					<div class="swipe-wrap">
					</div>
					<div class="prodet-play-count">
						<i class="prodet-play-count-cur" id="J_prodet_play_index">1</i>
						<span></span>
					</div>
				</div>
				<div class="hg-box-content fn-mgt17">
					<div id="J_prodet_base">
						
					</div>
				</div>
				<div class="hg-box-content fn-mgt17">
					<div class="hg-box-item">
						<span class="hg-label">运费</span>
						<span class="hg-text prodet-exp">从</span>
						<span class="hg-text prodet-exp">钦州保税仓</span>
						<span class="hg-text prodet-exp">至</span>
						<span class="hg-text prodet-exp">南宁青秀区</span>
					</div>
					<div  id="J_prodet_type" class="prodet-type">
					</div>
					<div class="hg-box-item fn-clear prodet-count" id="">
						<span class="hg-label prodet-count-label">购买数量</span>
						<div class="hg-counter" id="J_prodet_counter">
							<i class="reduce">-</i>
							<input type="tel" value="1">
							<i class="add">+</i>
						</div>
						<span class="hg-desc play-type-inv" id="J_prodet_inv">(请选择规格)</span>
					</div>
				</div>
				<div class="hg-box-content fn-mgt17">
					<!-- <div class="hg-box-item" id="">
						<span class="hg-label">税号</span>
						<span class="hg-text" id="J_prodet_taxid">-</span>
					</div> -->
					<div class="prodet-tax">
						<span class="hg-label">关税</span>
						<span class="hg-text-price" id="J_prodet_tax"></span>
						<span class="hg-desc">选择规格后计算关税</span>
					</div>
				</div>
				<div class="prodet-detail-up hg-text" id="J_prodet_updrag">上拉查看详情</div>
			</div>
			<div class="hg-box hg-box-bt fn-hide" id="J_prodet_img_wrap">
				<div class="hg-box-content">
					<!-- <p class="hg-text prodet-detial-title">图文详情</p> -->
					<div class="prodet-detial-info" id="J_prodet_imginfo">
						<p class="正在加载图文详情..."></p>
					</div>
				</div>
			</div>
			<div class="hg-box-foot" id="J_prodet_foot">
				<span class="hg-iconfont hg-iconfont-shopcar prodet-shopcar J_prodet_toshopcar"></span>
				<span class="hg-btn hg-btn-red fn-right J_prodet_buy">立即购买</span>
				<span class="hg-btn hg-btn-red fn-right J_prodet_shopcar">加入购物车</span>
			</div>
		</div>
		<% include ../include/foot.html %>
	</div>
	<% include ../include/js.html %>
	<script type="text/javascript" src="../../lib/Swipe/swipe.js"></script>
	<textarea class="fn-hide" id="T_prodet_swipe">
		{{#each this}}
		<img src="{{this}}">
		{{/each}}
	</textarea>
	<textarea class="fn-hide" id="T_prodet_base">
		<h3 class="hg-title hg-title-3">{{name}}</h3>
		<p class="hg-desc">{{desc}}</p>
		<div class="prodet-price">
			<span class="hg-text-price" id="J_prodet_price">{{getPrice this}}</span>
			<span class="prodet-price-arrow">&nbsp;</span>
		</div>
	</textarea>
	<textarea class="fn-hide" id="T_prodet_type">
		{{#each this}}
			<div class="hg-box-item">
				<span class="hg-label prodet-label">{{type}}</span>
				<ul class=" prodet-type-list " data-id="{{id}}">
					{{#each items}}
						<li data-id="{{id}}">{{label}}</li>
					{{/each}}
				</ul>
			</div>	
		{{/each}}
	</textarea>
	<script type="text/javascript">
		window.prodetScope={};
		window.prodetScope.runingFlag=false;
		$(function(){
			var productId=hg.url.getUrlVar('id');
			hg.data({
				url:cfg.get('productInfo'),
				data:'productId='+productId
			}).done(function(json){
				var sw=$('#J_prodet_swipe').find('.swipe-wrap').temp($('#T_prodet_swipe'),json.bean&&json.bean.imgs).end();

				new Swipe(sw[0],{
					callback: function(index, element) {
						$('#J_prodet_play_index').html(index+1);
					}
				});

				sw.find('.prodet-play-count span').html('/'+(json.bean&&json.bean.imgs.length));

				$('#J_prodet_base').temp($('#T_prodet_base'),json.bean);


				var allSpec=mkSpec(json.bean.sks);
				var itemMap={};
				var type=$('#J_prodet_type');
				var price;
				var taxRate;
				type.temp($('#T_prodet_type'),allSpec).on('touchend','li',function(){
					$(this).addClass('cur').siblings().removeClass('cur');
					var itemId=$(this).data('id');
					var typeId=$(this).parent('.prodet-type-list').data('id');


					/*
						var newSks=sksFilter(json.bean.sks,itemId);
						var newSpec=mkSpec(newSks);
						console.log(newSpec);
					*/

					itemMap[typeId]=itemId;
					var itemArr=[];
					for(var i in itemMap){
						itemArr.push(itemMap[i]);
					}
					var flag=false;
					var skId;
					for(var i in json.bean.sks){
						var itemStr=json.bean.sks[i].itemArr.sort().join('');
						if(itemStr==itemArr.sort().join('')){
							flag=true;
							skId=json.bean.sks[i].id;
							price=json.bean.sks[i].price;
							taxRate=json.bean.sks[i].taxRate;
						}
					}
					$('#J_prodet_foot .J_prodet_shopcar').data('skid',skId);
					if(price){
						$('#J_prodet_price').html('￥'+price/100);
						calcuPrice($('#J_prodet_counter input').val());
					}
					var inv=$('#J_prodet_inv');
					if(flag){
						inv.html('(正在获取...)');
						hg.data({
							url:cfg.get('inv'),
							data:'productId='+productId+'&skId='+skId
						}).done(function(json){
							var t=json.bean.total;
							inv.html('(库存'+t+'件)');
						}).fail(function(){
							inv.html('(未获取到库存)');
						});
					}
				});

				var couterCfg={
					max:199,
					val:1,
					min:1,
					callback:function(i){
						calcuPrice(i);
						$('#J_prodet_foot .J_prodet_shopcar').data('num',i);
					}
				}
				$('#J_prodet_counter').makeCounter(couterCfg);

				calcuPrice(couterCfg.val);

				function calcuPrice(i){
					if(price){
						var total = i*price*taxRate/100;
						$('#J_prodet_tax').html('￥'+(total/100)).next().html('(税率'+(taxRate/100)+')').removeClass('fn-hide');
					}/*else{
						$('#J_prodet_tax').html('<span class="hg-desc">选择规格后计算关税</span>');
					}*/
				}

				$('#J_prodet_taxid').html(json.bean.taxId);

				//等待所有页面内容加载完成之后,初始化图文详情面板的位置
				//var h=$('#J_prodet_updrag').offset().top;
				var h=$(window).height()*0.6;
				var o=$('#J_prodet_img_wrap').css({
					'-webkit-transform':'translate3d(0,'+h+'px,0)',
					transform:'translate3d(0,'+h+'px,0)',
					opacity:0
				});
			}).fail(function(json){
				hg.alert(json.returnMessage);
			});
			
			
			hg.jsonp({
				url:'http://132.37.4.175:8080/storageserver/static/html/56726ed8d01f0a2704067e09.html'
			}).done(function(json){
				$('#J_prodet_imginfo').html(json.result+json.result+json.result+json.result)
			}).fail(function(json){
				$('#J_prodet_imginfo p').html(json.message);
			});

			//点击上拉查看详情按钮,展示图文详情
			$('#J_prodet_updrag').on('touchend',function(){
				showDetail();
			});
			//点击头部两个页签做商品展示或详情展示
			$('#J_prodet_headtab').on('touchend','li',function(){
				var i=$(this).index();
				if(i==0){
					hideDetail();
				}else{
					showDetail();
				}
			});

			$('#J_prodet_foot').on('touchend','.J_prodet_shopcar',function(){
				var skId=$('#J_prodet_foot .J_prodet_shopcar').data('skid');
				if(!skId){
					hg.alert('请先选择商品的规格');
					return;
				}
				var num=$('#J_prodet_foot .J_prodet_shopcar').data('num');
				hg.data({
					url:cfg.get('prodetToShopcar'),
					data:{skId:skId,number:num}
				}).done(function(){
					hg.alert('添加成功!');
				}).fail(function(){
					hg.alert('添加失败！');
				});
			}).on('touchend','.J_prodet_toshopcar',function(){
				window.location.href='../user/shopCar.html';
			});

		});
			
		//上拉展示图文详情
		$(function(){
			//手指滑动变量初始化
			var bottomTouchFlag=false;
			var initY=0;
			var distance=180;
			var offset=50;//修正偏移量
			$('#J_prodet_product').on('touchstart',function(e){
				var w=$(window);
				var st = w.scrollTop();
				var docHeight=$(document).height();
				var vwHeight=w.height();
				if(docHeight<st+vwHeight+offset){
					bottomTouchFlag=true;
				}else{
					bottomTouchFlag=false;
				}
				initY=e.originalEvent.touches[0].pageY;
			}).on('touchmove',function(e){
				move(e);
			});
			function move(e){
				var moveY=e.originalEvent.changedTouches[0].pageY;
				if(initY-moveY>0&&bottomTouchFlag){
					e.preventDefault();
				}
				if(initY-moveY>distance&&bottomTouchFlag){
					showDetail();
				}
			}
		});
		//下拉关闭图文详情
		$(function(){
			//手指滑动变量初始化
			var topTouchFlag=false;
			var initY=0;
			var distance=120;
			var offset=50;//修正偏移量
			$('#J_prodet_img_wrap').on('touchstart',function(e){
				var w=$(window);
				var st = w.scrollTop();
				if(st<=0){
					topTouchFlag=true;
				}else{
					topTouchFlag=false;
				}
				initY=e.originalEvent.touches[0].pageY;
			}).on('touchmove',function(e){
				var moveY=e.originalEvent.changedTouches[0].pageY;
				if(initY-moveY<0&&topTouchFlag){
					e.preventDefault();
				}
				if(Math.abs(initY-moveY)>distance&&topTouchFlag){
					hideDetail();
				}
			});
		});
		function showDetail(){
			if(window.prodetScope.runingFlag)return;
			window.prodetScope.runingFlag=true;
			$('#J_prodet_product').css({'opacity':0});
			setTimeout(function(){
				var o=$('#J_prodet_img_wrap').removeClass('fn-hide').addClass('hg-box-animation');
				$('#J_body').on('touchmove',function(e){
					e.preventDefault();
				});
				document.body.scrollTop=0;
				document.documentElement.scrollTop=0;
				o.css({
					'-webkit-transform':'translate3d(0,45px,0)',
					'transform':'translate3d(0,45px,0)',
					opacity:1
				});
				setTimeout(function(){
					$('#J_body').unbind('touchmove');
					o.removeClass('hg-box-animation');
					$('#J_prodet_headtab li:eq(1)').addClass('cur').siblings().removeClass('cur');
					window.prodetScope.runingFlag=false;
				},350);
			},350);
		}
		function hideDetail(){
			if(window.prodetScope.runingFlag)return;
			window.prodetScope.runingFlag=true;
			document.body.scrollTop=0;
			document.documentElement.scrollTop=0;
			var o=$('#J_prodet_img_wrap').addClass('hg-box-animation');
			$('#J_body').on('touchmove',function(e){
				e.preventDefault();
			});
			var h=$(window).height()*0.6;
			o.css({
				'-webkit-transform':'translate3d(0,'+(45+h)+'px,0)',
				'transform':'translate3d(0,'+(45+h)+'px,0)',
				opacity:0.1
			});
			setTimeout(function(){
				$('#J_body').unbind('touchmove');
				o.removeClass('hg-box-animation').addClass('fn-hide');
				window.prodetScope.runingFlag=false;
				$('#J_prodet_product').css({'opacity':1});
				$('#J_prodet_headtab li:eq(0)').addClass('cur').siblings().removeClass('cur');
			},350);
		}

		/*function sksFilter(sks,itemId){
			var result=[];
			for(var i in sks){
				var o=sks[i];		
				for(var e in o.spec){
					var oo=o.spec[e];
					if(oo.itemId==itemId){
						result.push(o);
					}
				}
			}
			return result;
		}*/

		function mkSpec(sks){
			var specArr={};
			for(var i=0;i<sks.length;i++){
				var prod = sks[i];
				prod.itemArr=[];
				for(var e=0;e<prod.spec.length;e++){
					var spec=prod.spec[e];
					var to=specArr[spec.typeId];
					if(!to){
						to=[];
						specArr[spec.typeId]=to;
					}
					to.push(spec);
					prod.itemArr.push(spec.itemId);
				}
			}
			var allSpec=[];
			for(var i in specArr){
				var spec=specArr[i];
				var o = {
					type:spec[0].type,
					id:spec[0].typeId,
					items:[]
				}
				for(var e in spec){
					o.items.push({
						label:spec[e].item,
						id:spec[e].itemId
					});
				}
				allSpec.push(o);
			}
			return allSpec;
		}
		Handlebars.registerHelper('getPrice', function(bean){
			var b=bean.sks[0].price,
				l=bean.sks[0].price;

			for(var i = 0;i<bean.sks.length;i++){
				if(bean.sks[i].price>=b){
					b=bean.sks[i].price;
				}
				if(bean.sks[i].price<=l){
					l=bean.sks[i].price;
				}
			}
			var	str='￥'+l/100;
			if(b!=l){
				str+='-￥'+b/100;
			}
			return str;
	    });
	</script>
</body>
</html>
