<!DOCTYPE html>
<html>
<head>
<title>登录</title>
<% include ../include/res.html %>
</head>
<body>
	<div id="J_content" class="hg-content">
		<% include ../include/head.html %>
		<div id="J_body" class="hg-body">
			<form class="hg-form fn-mgt3" id="J_login_form">
				<div class="hg-form-block">
					<div class="hg-form-item fn-border-bottom">
						<label class="hg-label shortcut-label"><span class="hg-iconfont hg-iconfont-user"></span>手机/用户名</label>
						<input placeholder="请输入手机号码或用户名" type="tel" maxlength = "11" name="phone"/>
						
					</div>
					<div class="hg-form-item">
						<label class="hg-label shortcut-label"><span class="hg-iconfont hg-iconfont-pwd"></span>密码</label>
						<input class="" name="pwd" placeholder="请输入密码" type="password"/>
					</div>
				</div>
				<div class="hg-btn hg-btn-red-l" id="J_login_submit">登录</div>
			</form>
			<p class="shortcut-text fn-clear">
				<a class="hg-text fn-left" href="regist.html">注册</a>
				<a class="hg-text fn-right"  href="resetPassword.html">忘记密码?</a>
			</p>
		</div>
		<% include ../include/foot.html %>
	</div>
	<% include ../include/js.html %>
	<script type="text/javascript">
	$('#J_head_title').html('登录');
	$(function(){
		$('#J_login_submit').on('click',function(){
			var fo=hg.form($('#J_login_form'));
			var data=fo.val();
			if(!data.phone||!data.phone.match(hg.regExp.cellphone)){
				hg.alert('请填写手机号码');
				return;
			}
			if(!data.pwd){
				hg.alert('请填写密码');
				return;
			}
			hg.data({
				url:cfg.get('login'),
				data:data
			}).done(function(json){
				//window.location.href='../product/productDetail.html';
			}).fail(function(){
				hg.alert('似乎出了点问题，登录失败了。');
			});
		});
	});
	</script>
</body>
</html>
