<!DOCTYPE html>
<html>
<head>
<title>确认订单</title>
<% include ../include/res.html %>
</head>
<body>
	<div id="J_content" class="hg-content">
		<% include ../include/head.html %>
		<div id="J_body" class="hg-body hg-box-bt">
			<div class="settle-loading" id="J_settle_loading">
				<span class="hg-loading hg-loading-big"></span>
				<p class="hg-text">正在帮您清点商品，请稍候......</p>
			</div>
			<div class="fn-hide">
				<a href="address.html" class="hg-address hg-address-selected" id="J_settlement_address">
					
				</a>
				<ul class="hg-store settle-store" id="J_settlement_list">
					
				</ul>
				<div class="hg-box-foot hg-slefoot" id="">
					<p class="hg-slefoot-submoney">
						<span class="hg-text">实付款:</span>
						<span class="hg-text-price" id="J_settle_all">-</span>
					</p>
					<span class="hg-btn hg-btn-red fn-right">提交订单</span>
				</div>
			</div>
			
		</div>
		<% include ../include/foot.html %>
		<textarea class="fn-hide" id="T_settlement_list">
			{{#each this}}
			<li data-storeid="{{storeId}}">
				<div class="hg-text hg-store-title">
					<span class="hg-iconfont hg-iconfont-store"></span>
					<span>{{storeName}}</span>
				</div>
				<div class="hg-store-content">
					<div class="hg-text hg-store-type"><span class="hg-iconfont hg-iconfont-in"></span>一般商品</div>
					{{#each normal}}
					<ul class="hg-prolist">
						{{#each products}}
						<li class="fn-clear">
							<img src="{{img}}">
							<div class="hg-prolist-info">
								<h4 class="hg-text">{{name}}</h4>
								<p class="hg-desc">
									{{type}}
								</p>
							</div>
							<div class="hg-store-price">
								<div class="hg-text-price">￥{{divide100 price}}</div>
								<p class="hg-desc">x{{number}}</p>
							</div>
						</li>
						{{/each}}
					</ul>
					<div class="hg-select">
						<select data-id="{{id}}">
							{{#each express}}
							<option value="{{id}}">{{name}} ￥{{divide100 price}}</option>
							{{/each}}
						</select>
					</div>
					{{/each}}
					<div class="hg-text hg-store-type"><span class="hg-iconfont hg-iconfont-sea"></span>跨境商品</div>
					{{#each cross}}
					<ul class="hg-prolist">
						{{#each products}}
						<li class="fn-clear">
							<img src="../../test/8.png">
							<div class="hg-prolist-info">
								<h4 class="hg-text">{{name}}</h4>
								<p class="hg-desc">
									{{type}}
								</p>
							</div>
							<div class="hg-store-price">
								<div class="hg-text-price">￥{{divide100 price}}</div>
								<p class="hg-desc">x{{number}}</p>
								<p class="hg-desc">税率{{taxRate}}%</p>
							</div>
						</li>
						{{/each}}
					</ul>
					<div class="hg-select">
						<select data-id="{{id}}">
							{{#each express}}
							<option value="{{id}}" data-price="{{price}}">{{name}} ￥{{divide100 price}}</option>
							{{/each}}
						</select>
					</div>
					{{/each}}
				</div>
				<div class="hg-store-total fn-clear">
					<div class="fn-clear">
						<div class="fn-left hg-text">共有<span class="J_settle_num">3</span>个包裹</div>
						<dl class="fn-right">
							<dt>商品总额:</dt>
							<dd class="J_settle_prototal"></dd>
							<dt>跨境关税:</dt>
							<dd class="J_settle_taxtotal"></dd>
							<dt>运费:</dt>
							<dd class="J_settle_express"></dd>
							<dt class="hg-store-total-label">小计:</dt>
							<dd class="hg-text-price J_settle_total"></dd>
						</dl>
					</div>
					<!-- <div class="hg-warn hg-warn fn-clear fn-hide">
						<span class="hg-iconfont hg-iconfont-warn"></span>
						<span class="hg-warn-text">
							-
						</span>
					</div> -->
				</div>
			</li>
			{{/each}}
		</textarea>
		<textarea class="fn-hide" id="T_settlement_address">
			<div class="hg-address-icon hg-iconfont hg-iconfont-rarrow fn-right"></div>
			<p class="">
				<span class="hg-text">
					<span class="hg-iconfont hg-iconfont-ouser"></span> {{name}}
				</span>
				<span class="hg-text fn-right">
					<span class="hg-iconfont hg-iconfont-phone"></span> {{phone}}
				</span>
			</p>
			<p class="">
				<span class="hg-text">
					<span class="hg-iconfont hg-iconfont-idcard"></span> {{idcard}}
				</span>
			</p>
			<p class="">
				<span class="hg-text">
					<span class="hg-iconfont hg-iconfont-address"></span>
					<span class="hg-address-detail">{{address}}</span>
				</span>
			</p>
		</textarea>
	</div>
	<% include ../include/js.html %>
	<script type="text/javascript">
	$('#J_head_title').html('确认订单');
	window.settleSC={};
	window.settleSC.data;
	$(function(){
		var address=hg.cache.get('chooseAddress');
		if(address){
			$('#J_settlement_address').temp($('#T_settlement_address'),address);
			init(address.id);
		}else{
			hg.data({
				url:cfg.get('address'),
				cache:{
					name:'address',//缓存名称
					maxAge:5*60*1000,//缓存时长
					count:0//缓存次数
				}
			}).done(function(json){
				for(var i=0;i<json.beans.length;i++){
					if(json.beans[i].isDefault){
						$('#J_settlement_address').temp($('#T_settlement_address'),json.beans[i]);
						hg.cache.set('chooseAddress',json.beans[i]);
						init(json.beans[i].id);
						break;
					}
				}
			});
		};
		

		function init(addressId){
			var settlePros = hg.cache.get('settlePros');
			if(!settlePros){
				console.error('没有传入参数');
				return;
			}
			hg.data({
				url:cfg.get('settlement'),
				data:'pros='+JSON.stringify(settlePros)+'&address='+addressId,
			}).done(function(json){
				window.settleSC.data=new Settlement(json.beans);
				$('#J_settlement_list').temp($('#T_settlement_list'),json.beans);
				$('.hg-select').each(function(){
					$(this).mkSelect({
						label:'配送方式'
					}).on('change',function(e){
						var ele = $(e.element);
						var id = ele.data('id');
						var price = ele.find('option:checked').data('price');
						window.settleSC.data.set(id,{
							express:price
						});
					});
				});
				$('#J_settle_loading').addClass('fn-hide').next().removeClass('fn-hide');
				
				window.settleSC.data.on('data_change',function(e){
					updataStore(e.storeId);
					updateAll();	
				});

				$('#J_settlement_list>li').each(function(e){
					var storeId=$(this).data('storeid');
					updataStore(storeId);
				});
				updateAll();
			});	
		}
		function updataStore(storeId){
			var c=window.settleSC.data.count(storeId);
			var o=$('#J_settlement_list li[data-storeid="'+storeId+'"]');
			o.find('.J_settle_num').html(c.pack);
			o.find('.J_settle_prototal').html('￥'+c.proTotal/100);
			o.find('.J_settle_taxtotal').html('￥'+c.taxTotal/100);
			o.find('.J_settle_express').html('￥'+c.express/100);
			o.find('.J_settle_total').html('￥'+(c.proTotal+c.taxTotal+c.express)/100);
		}
		function updateAll(){
			var ca = window.settleSC.data.countAll();
			$('#J_settle_all').html('￥'+(ca.proTotal+ca.taxTotal+ca.express)/100);
		}
	});
	/*
		每一项结构为
		{
			"id":"每一个分组的临时id",
			"storeId":"",
			"proTotal":"",
			"express":"",
			"type":"交易类型",
			"taxTotal":""
		}
	*/
	function Settlement(beans){
		ZEvent.call(this);
		var id=0;
		this.NORMAL=0;
		this.CROSS=1;
		this.data=[];
		for(var i in beans){
			var o=beans[i];
			for(var e in o.normal){
				var result={id:id++,storeId:o.storeId,type:this.NORMAL};
				var oo=o.normal[e];
				oo.id=result.id;
				var ex=oo.express[0];
				result.express=(ex&&ex.price)||0;
				result.proTotal=countProduct(oo.products).price
				this.data.push(result);
			}

			for(var e in o.cross){
				var result={id:id++,storeId:o.storeId,type:this.CROSS};
				var oo=o.cross[e];
				oo.id=result.id;
				var ex=oo.express[0];
				result.express=(ex&&ex.price)||0;
				var count=countProduct(oo.products);
				result.proTotal=count.price;
				result.taxTotal=count.taxTotal;
				this.data.push(result);
			}
		}
		function countProduct(prods){
			var price=0;
			var tax=0;
			for(var i in prods){
				var o=prods[i];
				price+=o.price*o.number;
				if(o.taxRate){
					tax+=o.price*o.number*o.taxRate/100;
				}
			}
			return {
				price:price,
				taxTotal:tax
			};
		}
	}
	hg.inheritPrototype(Settlement,ZEvent);
	Settlement.prototype.set=function(id,obj){
		var storeId;
		for(var i in this.data){
			var o = this.data[i];
			if(o.id==id){
				storeId=o.storeId;
				for(var e in obj){
					o[e]=obj[e];
				}
			}
		}
		if(obj.hasOwnProperty('express')){
			this.trigger({
				name:'data_change',
				storeId:storeId
			});
		}
		return this;
	}
	Settlement.prototype.count=function(storeId){
		var pack=0;
		var tax=0;
		var express=0;
		var proTotal=0;
		for(var i in this.data){
			var o = this.data[i];
			if(o.storeId==storeId){
				pack++;
				if(this.CROSS==o.type){
					tax+=o.taxTotal;
				}
				express+=parseInt(o.express);
				proTotal+=o.proTotal;
			}
		}
		return {
			pack:pack,
			taxTotal:tax,
			express:express,
			proTotal:proTotal
		}
	}
	Settlement.prototype.countAll=function(){
		var pack=0;
		var tax=0;
		var express=0;
		var proTotal=0;
		for(var i in this.data){
			var o = this.data[i];
			pack++;
			if(this.CROSS==o.type){
				tax+=o.taxTotal;
			}
			express+=parseInt(o.express);
			proTotal+=o.proTotal;
		}
		return {
			pack:pack,
			taxTotal:tax,
			express:express,
			proTotal:proTotal
		}
	}
	</script>
</body>
</html>
