<!DOCTYPE html>
<html>
<head>
<title>购物车</title>
<% include ../include/res.html %>
</head>
<body>
	<div id="J_content" class="hg-content">
		<% include ../include/head.html %>
		<div id="J_body" class="hg-body hg-box-bt">
			<ul class="hg-store" id="J_shopcar">

			</ul>
			<div class="hg-box-foot shopcar-foot" id="">
				<div class="shopcar-foot-all" id="J_shopcar_select_all">
					<span class="hg-store-check"></span>
					<span class="hg-text">全选</span>
				</div>
				<div class="shopcar-foot-info">
					<div class="hg-desc">
						<span class="shopcar-foot-label">商品总额:</span>
						<span id="J_shopar_proall" class="shopcar-foot-text">-</span>
					</div>
					<div class="hg-desc">
						<span class="shopcar-foot-label">关税:</span>
						<span id="J_shopar_taxall" class="shopcar-foot-text">-</span>
					</div>
					<div class="shopcar-foot-total fn-text-overflow ">
						<span class="hg-text shopcar-foot-label">总计:</span>
						<span class="hg-text-price shopcar-foot-text"  id="J_shopar_all">-</span>
					</div>
				</div>
				<span class="hg-btn hg-btn-red fn-right">结 算</span>
			</div>
		</div>
		<% include ../include/foot.html %>
	</div>
	<% include ../include/js.html %>
	<textarea class="fn-hide" id="T_shopcar">
		{{#each this}}
		<li data-storeid="{{storeId}}">
			<div class="hg-text hg-store-title">
				<span class="hg-store-check J_shopcar_store_check" data-storeid="{{storeId}}"></span>
				<span class="hg-iconfont hg-iconfont-store"></span>
				<span>{{storeName}}</span>
				<span class="hg-iconfont hg-iconfont-rarrow fn-right"></span>
			</div>
			<div class="hg-store-content">
				<div class="hg-text hg-store-type"><span class="hg-iconfont hg-iconfont-in"></span>一般商品</div>
				<ul class="hg-prolist">
					{{#each normal}}
					<li class="fn-clear">
						<span class="hg-store-check" data-storeid="{{../storeId}}" data-proid="{{id}}"></span>
						<img src="{{img}}">
						<div class="hg-prolist-info">
							<h4 class="hg-text">{{name}}</h4>
							<p class="hg-desc">
								{{spec}}
							</p>
							<p class="hg-text-price">￥{{divide100 price}}</p>
							<div class="hg-counter" data-proid="{{id}}" data-storeid="{{../storeId}}">
								<i class="reduce">-</i>
								<input type="tel" value="{{number}}">
								<i class="add">+</i>
							</div>
						</div>
						<div class="hg-prolist-mask">
							<span class="hg-prolist-mask-text">失效</span>
						</div>
					</li>
					{{/each}}
				</ul>
				<div class="hg-text hg-store-type"><span class="hg-iconfont hg-iconfont-sea"></span>跨境商品</div>
				<ul class="hg-prolist ">
					{{#each cross}}
					<li class="fn-clear">
						<span class="hg-store-check"  data-storeid="{{../storeId}}" data-proid="{{id}}"></span>
						<img src="{{img}}">
						<div class="hg-prolist-info">
							<h4 class="hg-text">{{name}}</h4>
							<p class="hg-desc">
								{{spec}}
							</p>
							<div class="">
								<span class="hg-text-price">￥{{divide100 price}}</span>
								<span class="hg-prolist-tax">税率{{taxRate}}%</span>
							</div>
							<div class="hg-counter" data-proid="{{id}}" data-storeid="{{../storeId}}">
								<i class="reduce">-</i>
								<input type="tel" value="{{number}}">
								<i class="add">+</i>
							</div>
						</div>
						<div class="hg-prolist-mask">
							<span class="hg-prolist-mask-text">失效</span>
						</div>
					</li>
					{{/each}}
				</ul>
			</div>
			<div class="hg-store-total fn-clear">
				<div class="fn-clear">
					<div class="fn-left hg-text">已选择<span class="J_shopcar_num"></span>件商品</div>
					<dl class="fn-right">
						<dt>商品总额:</dt>
						<dd class="J_shopcar_prototal"></dd>
						<dt>跨境关税:</dt>
						<dd class="J_shopcar_taxtotal"></dd>
						<dt class="hg-store-total-label">店铺小计:</dt>
						<dd class="hg-text-price J_shopcar_total"></dd>
						<dt class="hg-store-total-desc">(不含运费)</dt>
					</dl>
				</div>
				<div class="hg-warn hg-warn fn-clear fn-hide">
					<span class="hg-iconfont hg-iconfont-warn"></span>
					<span class="hg-warn-text">
						-
					</span>
				</div>
			</div>
		</li>
		{{/each}}
	</textarea>
	<script type="text/javascript">
	$('#J_head_title').html('购物车');
	window.shopCarSC={};
	window.shopCarSC.data=null;
	$(function(){
		//获取购物车数据
		hg.data({
			url:cfg.get('shopCar')
		}).done(function(json){
			$('#J_shopcar').temp($('#T_shopcar'),json.beans);
			//构建购物车数据对象，所有操作都基于这个对象
			window.shopCarSC.data=new ShopcarData(json.beans);
			//注册计数器行为
			$('.hg-counter').each(function(){
				$(this).makeCounter({
					max:199,
					min:1,
					callback:function(i,ele){
						//计数器变更时会触发这个回调
						//i为变更后的值，ele为触发的元素(加号或减号)
						var p=$(ele);
						var storeId=p.data('storeid');
						var id=p.data('proid');
						//更新数据对象中的数量，会触发数据改变事件（DATA_CHANGE）
						window.shopCarSC.data.set(storeId,id,{
							number:i
						});
					}
				});
			});
			//注册选择按钮
			$('#J_shopcar').on('touchstart','.hg-store-check',function(){
				var ele=$(this);
				var proId=ele.data('proid');
				var storeId=ele.data('storeid');
				//如果当前触摸的按钮有选中样式，则去掉选中，未选中则置为选中
				var flag=ele.hasClass('hg-store-checked');
				//单选，改变数据对象的状态
				//当proId为空时，说明更新整个店铺下的单选按钮
				window.shopCarSC.data.set(storeId,proId,{
					check:!flag
				});
			});

			//整页全选
			$('#J_shopcar_select_all').on('touchstart',function(){
				var ele=$(this).find('.hg-store-check');
				var flag=ele.hasClass('hg-store-checked');
				if(flag){
					ele.removeClass('hg-store-checked');
				}else{
					ele.addClass('hg-store-checked');
				}
				window.shopCarSC.data.setAllCheck(!flag);
			});

			//数据对象发生改变的时候触发这个事件
			window.shopCarSC.data.on(ShopcarData.DATA_CHANGE,function(e){
				updateStore(e.storeId);
				updateTotal();
			});

			//当check属性被改变的时候触发这个事件
			window.shopCarSC.data.on(ShopcarData.CHECK_CHANGE,function(e){
				for(var i = 0;i<e.ids.length;i++){
					updateCheck(e.ids[i],e.flag);
				}
				var store=$('#J_shopcar .J_shopcar_store_check[data-storeid="'+e.storeId+'"]');
				var cla='hg-store-checked';
				if(e.storeAll){
					store.addClass(cla);
				}else{
					store.removeClass(cla);
				}

				var all=$('#J_shopcar_select_all .hg-store-check');			
				if(e.all){
					all.addClass(cla);
				}else{
					all.removeClass(cla);
				}
			});

			window.shopCarSC.data.on(ShopcarData.CANCHECK_CHANGE,function(e){
				for(var i =0;i<e.ids.length;i++){
					updateInvalid(e.ids[i],e.flag);
				}
			});

			//计算购物车的总额
			for(var i=0;i<json.beans.length;i++){
				var o=json.beans[i];
				updateStore(o.storeId);
			}
			updateTotal();


			//判断是否失效
			hg.data({
				url:cfg.get('shopCarInvalid'),
				data:""
			}).done(function(json){
				for(var i = 0;i<json.beans.length;i++){
					window.shopCarSC.data.set('',json.beans[i].proId,{
						canCheck:false,
						check:false
					});
				}
			}).fail(function(json){
				hg.alert(json.message);
			});

		});

		function updateStore(storeId){
			var storeCount=window.shopCarSC.data.countStore(storeId);
			var o=$('#J_shopcar>li[data-storeid="'+storeId+'"]');
			var proTotal=storeCount.normalTotal+storeCount.crossTotal;
			o.find('.J_shopcar_prototal').html('￥'+proTotal/100);
			o.find('.J_shopcar_taxtotal').html('￥'+storeCount.taxTotal/100);
			o.find('.J_shopcar_total').html('￥'+(proTotal+storeCount.taxTotal)/100);
			o.find('.J_shopcar_num').html(storeCount.normalNum+storeCount.crossNum);

			var wran=o.find('.hg-warn');
			if(storeCount.crossNum==1){
				wran.addClass('fn-hide');
			}else{
				
				if(storeCount.crossTotal>100000){
					wran.removeClass('fn-hide').find('.hg-warn-text').html('海关规定在同一个店铺购买多件商品时，跨境的总额不能大于1000元。');
				}else{
					wran.addClass('fn-hide');
				}
			}
		}

		function updateTotal(){
			var all=window.shopCarSC.data.countAll();
			var proTotal=all.normalTotal+all.crossTotal;
			$('#J_shopar_proall').html('￥'+proTotal/100);
			$('#J_shopar_taxall').html('￥'+all.taxTotal/100);
			$('#J_shopar_all').html('￥'+(proTotal+all.taxTotal)/100);
		}

		function updateCheck(id,flag){
			var ele=$('#J_shopcar .hg-store-check[data-proid="'+id+'"]');
			if(flag){
				ele.addClass('hg-store-checked');
			}else{
				ele.removeClass('hg-store-checked');
			}
		}

		function updateInvalid(id,flag){
			var ele=$('#J_shopcar .hg-store-check[data-proid="'+id+'"]').parent();
			if(flag){
				ele.removeClass('hg-prolist-disabled');	
			}else{
				ele.addClass('hg-prolist-disabled');	
			}
		}
	});


	/*
	购物车数据对象，不涉及DOM操作以提升效率
	每一项的结构为：
	{
		id:"",//单品ID
		price:"",//价格，分
		tax:"",//税率
		number:"",//数量
		check:"",//是否选中
		canCheck:"",//是否可以选中
		storeId:"",//店铺id
		type:""//是否跨境商品
	}
	*/
	function ShopcarData(beans){
		ZEvent.call(this);
		this.NORMAL=0,
		this.CROSS=1;
		this.data=[];
		for(var i = 0;i<beans.length;i++){
			var o=beans[i];
			initPro(this.data,o.normal,o.storeId,this.NORMAL);
			initPro(this.data,o.cross,o.storeId,this.CROSS);
		}
		function initPro(data,source,storeId,type){
			for(var e = 0;e<source.length;e++){
				var o=source[e];
				data.push({
					id:o.id,
					price:o.price,
					number:o.number,
					tax:o.taxRate,
					check:false,
					storeId:storeId,
					type:type,
					canCheck:true
				});
			}
		}
	}
	ShopcarData.DATA_CHANGE='data_change';
	ShopcarData.CHECK_CHANGE='check_change';
	ShopcarData.CANCHECK_CHANGE='cancheck_change';
	hg.inheritPrototype(ShopcarData,ZEvent);
	ShopcarData.prototype.count=function(cond){
		var normalTotal=0;//普通商品总额
		var crossTotal=0;//跨境商品总额
		var taxTotal=0;//税费总额
		var normalNum=0;//普通商品件数
		var crossNum=0;//跨境商品件数
		for(var i=0;i<this.data.length;i++){
			var o=this.data[i];
			if((!cond||cond(o))&&o.check&&o.canCheck){
				if(o.type==this.CROSS){
					crossTotal+=o.price*o.number;
					taxTotal+=o.price*o.number*o.tax/100;
					crossNum+=parseInt(o.number);
				}else{
					normalTotal+=o.price*o.number;
					normalNum+=parseInt(o.number);
				}
			}
		}
		return {
			normalTotal:normalTotal,
			crossTotal:crossTotal,
			taxTotal:taxTotal,
			normalNum:normalNum,
			crossNum:crossNum
		};
	}
	ShopcarData.prototype.countStore=function(storeId){
		return this.count(function(o){
			return storeId==o.storeId;
		});
	}
	ShopcarData.prototype.countAll=function(storeId){
		return this.count();
	}
	ShopcarData.prototype.set=function(storeId,id,obj){
		var storeAll=true;
		var all=true;
		var ids=[];
		var canCheckIds=[];
		if(!storeId){
			var cur=this.get(id);
			if(!cur)return;
			storeId=cur.storeId;
		}
		for(var i = 0;i<this.data.length;i++){
			var o=this.data[i];
			if(o.storeId==storeId){
				if(!id||id==o.id){
					for(var e in obj){
						o[e]=obj[e];
						if(e=='check'&&o.canCheck){
							ids.push(o.id);
						}
						if(e=='canCheck'){
							canCheckIds.push(o.id);
						}
					}
				}
				if(o.canCheck){
					storeAll=storeAll&&o.check;
				}
			}
			if(o.canCheck){
				all=all&&o.check;
			}
		}
		if(obj.hasOwnProperty('check')){
			this.trigger({
				name:ShopcarData.CHECK_CHANGE,
				storeId:storeId,
				ids:ids,
				flag:obj.check,
				storeAll:storeAll,
				all:all
			});
		}
		if(obj.hasOwnProperty('canCheck')){
			this.trigger({
				name:ShopcarData.CANCHECK_CHANGE,
				ids:canCheckIds,
				flag:obj.canCheck
			});
		}
		this.trigger({
			name:ShopcarData.DATA_CHANGE,
			storeId:storeId
		});
		return this;
	};
	ShopcarData.prototype.setAllCheck=function(flag){
		var _th=this;
		$('.J_shopcar_store_check').each(function(){
			var storeId=$(this).data('storeid');
			_th.set(storeId,'',{check:flag});
		});
		return this;
	}
	ShopcarData.prototype.get=function(id){
		for(var i =0;i<this.data.length;i++){
			if(this.data[i].id==id)	{
				return this.data[i];
			}
		}
	}
	</script>
</body>
</html>
