<!DOCTYPE html>
<html>
<head>
<title>购物车</title>
<% include ../include/res.html %>
</head>
<body>
	<div id="J_content" class="hg-content">
		<% include ../include/head.html %>
		<div id="J_body" class="hg-body">
			<ul class="shopcar-store">
				<li>
					<div class="hg-text shopcar-store-title">
						<span class="shopcar-store-check"></span>
						<span class="hg-iconfont hg-iconfont-store"></span>
						<span>钦州保税专营店</span>
						<span class="hg-iconfont hg-iconfont-rarrow fn-right"></span>
					</div>
					<div class="shopcar-store-content">
						<div class="hg-text shopcar-store-type"><span class="hg-iconfont hg-iconfont-in"></span>一般商品</div>
						<ul class="shopcar-prolist ">
							<li class="fn-clear">
								<span class="shopcar-store-check"></span>
								<img src="http://132.37.4.175:8080/storageserver/image/5661560ce2e0e3290a29af52.jpg">
								<div class="shopcar-prolist-info">
									<h4 class="hg-text">长白山野生雪莲</h4>
									<p class="hg-desc">尺寸：风中领到六安 重量：198克</p>
									<p class="hg-text-price">￥1342</p>
									<div class="hg-counter">
										<i class="reduce">-</i>
										<input type="tel" value="1">
										<i class="add">+</i>
									</div>
								</div>
							</li>
						</ul>
						<div class="hg-text shopcar-store-type"><span class="hg-iconfont hg-iconfont-sea"></span>跨境商品</div>
						<ul class="shopcar-prolist ">
							<li class="fn-clear">
								<span class="shopcar-store-check"></span>
								<img src="http://132.37.4.175:8080/storageserver/image/5661570ee2e0e3290a29af58.jpg">
								<div class="shopcar-prolist-info">
									<h4 class="hg-text">三星Galaxy无线屏幕5.5英寸大屏手机</h4>
									<p class="hg-desc">尺寸：5寸 内存：32G</p>
									<p class="hg-text-price">￥1342</p>
									<div class="hg-counter">
										<i class="reduce">-</i>
										<input type="tel" value="1">
										<i class="add">+</i>
									</div>
								</div>
							</li>
						</ul>
					</div>
					<div class="shopcar-total fn-clear">
						<div class="fn-left hg-text">已选择5件商品</div>
						<dl class="fn-right">
							<dt>商品总额:</dt>
							<dd>￥1992</dd>
							<dt>跨境关税:</dt>
							<dd>￥92</dd>
							<dt class="shopcar-total-label">总计(不含运费):</dt>
							<dd class="hg-text-price">￥1992</dd>
						</dl>
					</div>
				</li>
				<li>
					<div class="hg-text shopcar-store-title">
						<span class="shopcar-store-check"></span>
						<span class="hg-iconfont hg-iconfont-store"></span>
						<span>钦州保税专营店</span>
						<span class="hg-iconfont hg-iconfont-rarrow fn-right"></span>
					</div>
					<div class="shopcar-store-content">
						<div class="hg-text shopcar-store-type"><span class="hg-iconfont hg-iconfont-in"></span>一般商品</div>
						<ul class="shopcar-prolist ">
							<li class="fn-clear">
								<span class="shopcar-store-check"></span>
								<img src="http://132.37.4.175:8080/storageserver/image/5661560ce2e0e3290a29af52.jpg">
								<div class="shopcar-prolist-info">
									<h4 class="hg-text">长白山野生雪莲</h4>
									<p class="hg-desc">尺寸：风中领到六安 重量：198克</p>
									<p class="hg-text-price">￥1342</p>
									<div class="hg-counter">
										<i class="reduce">-</i>
										<input type="tel" value="1">
										<i class="add">+</i>
									</div>
								</div>
							</li>
						</ul>
						<div class="hg-text shopcar-store-type"><span class="hg-iconfont hg-iconfont-sea"></span>跨境商品</div>
						<ul class="shopcar-prolist ">
							<li class="fn-clear">
								<span class="shopcar-store-check"></span>
								<img src="http://132.37.4.175:8080/storageserver/image/5661570ee2e0e3290a29af58.jpg">
								<div class="shopcar-prolist-info">
									<h4 class="hg-text">三星Galaxy无线屏幕5.5英寸大屏手机</h4>
									<p class="hg-desc">尺寸：5寸 内存：32G</p>
									<p class="hg-text-price">￥1342</p>
									<div class="hg-counter">
										<i class="reduce">-</i>
										<input type="tel" value="1">
										<i class="add">+</i>
									</div>
								</div>
							</li>
							<li class="fn-clear">
								<span class="shopcar-store-check"></span>
								<img src="http://132.37.4.175:8080/storageserver/image/5661570ee2e0e3290a29af58.jpg">
								<div class="shopcar-prolist-info">
									<h4 class="hg-text">三星Galaxy无线屏幕5.5英寸大屏手机</h4>
									<p class="hg-desc">尺寸：5寸 内存：32G</p>
									<p class="hg-text-price">￥1342</p>
									<div class="hg-counter">
										<i class="reduce">-</i>
										<input type="tel" value="1">
										<i class="add">+</i>
									</div>
								</div>
							</li>
						</ul>
					</div>
					<div class="shopcar-total fn-clear">
						<dl class="">
							<dt>商品总额:</dt>
							<dd>￥1992</dd>
							<dt>跨境关税:</dt>
							<dd>￥92</dd>
							<dt class="shopcar-total-label">总计(不含运费):</dt>
							<dd class="hg-text-price">￥1992</dd>
						</dl>
					</div>
				</li>
			</ul>
		</div>
		<% include ../include/foot.html %>
	</div>
	<% include ../include/js.html %>
	<script type="text/javascript">
	$('#J_head_title').html('购物车');
	$(function(){
		$('.hg-counter').each(function(){
			$(this).makeCounter({
				max:199,
				val:1,
				min:1,
				callback:function(i){
					//calcuPrice(i);	
				}
			});
		});
	});
	</script>
</body>
</html>
